@import "@xterm/xterm/css/xterm.css";

body {
    font-family: arial;
    margin: 0;
    padding: none;
    background-color: #000;
    overflow-y: hidden;
}

.xterm .xterm-viewport {
    overflow-y: hidden !important;
}

#terminal {
    margin: 0 auto;
    border-left: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    x: 0;
    y: 0;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    font-style: normal;
    font-weight: 400;
    src: url("Perfect DOS VGA 437 Win.ttf") format('truetype');
}